<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mes Réservations</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
      <h1>Mes Réservations</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titre du Livre</th>
            <th>Date de reservation</th>
            <th>Date de retour</th>
            <th>Statut</th>
          </tr>
        </thead>
        {% for item in livres_reserves %}
        <tr>
          <td>{{ item.livre.titre }}</td>
          <td>{{ item.reservation.date_debut.strftime('%Y-%m-%d') }}</td>
          <td>{{ item.reservation.date_fin.strftime('%Y-%m-%d') }}</td>
          <td>{{ item.reservation.statut }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
