<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mes Emprunts</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
      <h1>Mes Emprunts</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titre du Livre</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          {% for livre in livres %}
          <tr>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.emprunt.date_debut }}</td>
            <td>{{ livre.emprunt.date_retour }}</td>
            <td>{{ livre.emprunt.statut }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
